@import "tailwindcss";

:root {
  /* --background: #ae9871; */
  --foreground: #171717;
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: var(--font-akbalthom), sans-serif;
}

html,
body,
.scroll-smooth {
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: var(--font-moulpali), serif;
  line-height: 40px;
}

/* globals.css or tailwind.css */
.scrollbar-thin {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #7a5e3c #fffef9; /* thumb + track */
}

/* Chrome, Edge, Safari */
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #fffef9; /* light background */
  border-radius: 8px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #7a5e3c; /* gold */
  border-radius: 8px;
  border: 2px solid #fffef9; /* padding around thumb */
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #ae9871; /* darker gold on hover */
}

/* Change active bullet color */
.swiper-pagination-bullet {
  background: #d1d5db; /* default (inactive) color, e.g. gray-300 */
  opacity: 1; /* ensures it's not semi-transparent */
}

.swiper-pagination-bullet-active {
  background: #7a5e3c !important; /* your custom active color */
}
